<?xml version="1.0" encoding="utf-8"?>
<region>
  <用户注册>
    <sql><![CDATA[if not exists(select 1 from users where uname=@uname
union
select 1 from company where uname=@uname)
insert into company (uname,pass,email,systemname,website,companyname,phone,address,contacts,office,mobile,qq,sex) values (@uname,@pass,@email,@systemname,@website,@companyname,@phone,@address,@contacts,@office,@mobile,@qq,@sex)]]></sql>
  </用户注册>
  <厂商登录>
    <sql><![CDATA[select *,
isnull((select sum( num-used) from [dbo].[Recharge] where companyid=company.id),0) as pay
from company where uname=@uname]]></sql>
  </厂商登录>
  <检查邮箱>
    <sql><![CDATA[select 1 from company where email=@email]]></sql>
    <and><![CDATA[and id!=@id]]></and>
  </检查邮箱>
  <更新厂商信息>
    <sql><![CDATA[update company set systemname=@systemname,website=@website,companyname=@companyname,phone=@phone,address=@address
,state=0
where id=@id]]></sql>
  </更新厂商信息>
  <更新个人信息>
    <sql><![CDATA[update company set contacts=@contacts,office=@office,mobile=@mobile,qq=@qq,sex=@sex
where id=@id]]></sql>
  </更新个人信息>
  <修改密码>
    <sql><![CDATA[update company set pass=@newpass where id=@id and pass=@oldpass]]></sql>
  </修改密码>
  <修改邮箱>
    <sql><![CDATA[if not exists(select 1 from company where email=@newemail and id!=@id)
update company set email=@newemail where id=@id and email=@oldemail]]></sql>
  </修改邮箱>
  <厂商列表>
    <sql><![CDATA[select id,uname,systemname,email,companyname,phone,intime,state,rec,rec_index,
isnull((select count(1) from companygame where companyid=company.id),0) as games,
isnull((select sum( num-used) from [dbo].[Recharge] where companyid=company.id),0) as pay,pass
!from company where 1=1]]></sql>
    <and><![CDATA[and (uname like '%'+@key+'%' or systemname like '%'+@key+'%' or companyname like '%'+@key+'%')]]></and>
    <and><![CDATA[and state=@state]]></and>
    <and><![CDATA[and rec=@red]]></and>
    <and><![CDATA[and rec_index=@rec_index]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </厂商列表>
  <审核厂商>
    <sql><![CDATA[update company set state=case state when 0 then 1 when 1 then 0 else 0 end where id=@id]]></sql>
  </审核厂商>
  <获取厂商>
    <sql><![CDATA[select * from company where id=@id]]></sql>
  </获取厂商>
  <修改厂商信息>
    <sql><![CDATA[update company set email=@email, systemname=@systemname, website=@website, companyname=@companyname, phone=@phone, address=@address,msg=@msg,
logo=@logo, 
contacts=@contacts, office=@office, mobile=@mobile, qq=@qq, sex=@sex
where id=@Id]]></sql>
  </修改厂商信息>
  <添加充值记录>
    <sql><![CDATA[insert into Recharge (companyid,[money],num,memo) values (@companyid,@money,@num,@memo)]]></sql>
  </添加充值记录>
  <厂商充值记录列表>
    <sql><![CDATA[select r.*,c.systemname !from Recharge r inner join company c on r.companyid=c.id 
where 1=1]]></sql>
    <and><![CDATA[and r.companyid=@companyid]]></and>
    <and><![CDATA[and c.systemname like '%'+@key+'%']]></and>
    <and><![CDATA[and r.intime>@starttime]]></and>
    <and><![CDATA[and r.intime<=@endtime+' 23:59:59']]></and>
    <orderby><![CDATA[r.intime desc]]></orderby>
  </厂商充值记录列表>
  <删除充值记录>
    <sql><![CDATA[delete Recharge where id=@id and companyid=@companyid]]></sql>
  </删除充值记录>
  <厂商消费记录列表>
  
    <sql><![CDATA[select ru.intime,s.gamename,s.starttime,s.servername,r.intime as buytime
!from RechargeUsed ru inner join recharge r on ru.rechargeid=r.id
inner join [servers] s on ru.serverid=s.id
where r.companyid=s.companyid and r.companyid=@companyid]]></sql>
    <and><![CDATA[ and s.gamename like '%'+@key+'%']]></and>
    <and><![CDATA[ and ru.intime>@starttime]]></and>
    <and><![CDATA[ and ru.intime<=@endtime+' 23:59:59']]></and>
    <orderby><![CDATA[ru.intime desc]]></orderby>
  </厂商消费记录列表>
  <厂商首页审核信息>
    <sql><![CDATA[select top 5 * from auditlog where companyid=@company order by intime desc]]></sql>
  </厂商首页审核信息>
  <删除厂商运营游戏>
    <sql><![CDATA[delete companygame where id=@id and companyid=@companyid]]></sql>
  </删除厂商运营游戏>
  <添加厂商运营游戏>
    <sql><![CDATA[insert into companygame (companyid,gamename,type,url) values (@companyid,@gamename,@type,@url)]]></sql>
  </添加厂商运营游戏>
  <厂商运营游戏列表>
    <sql><![CDATA[select * !from companygame where companyid=@companyid]]></sql>
    <and><![CDATA[and gamename like '%'+@key+'%']]></and>
    <and><![CDATA[and type=@type]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </厂商运营游戏列表>
  <修改厂商运营游戏>
    <sql><![CDATA[update companygame set gamename=@gamename,type=@type,url=@url
where id=@id and companyid=@companyid]]></sql>
  </修改厂商运营游戏>
  <推荐厂商到频道>
    <sql><![CDATA[update company set rec=case rec when 0 then 1 when 1 then 0 else 0 end,rec_time=getdate() 
output inserted.rec
where id=@id]]></sql>
  </推荐厂商到频道>
  <推荐厂商到首页>
    <sql><![CDATA[update company set rec_index=case rec_index when 0 then 1 when 1 then 0 else 0 end,rec_index_time=getdate() 
output inserted.rec_index
where id=@id]]></sql>
  </推荐厂商到首页>
  <修改头像>
    <sql><![CDATA[update company set head=@head where id=@id]]></sql>
  </修改头像>
</region>