<?xml version="1.0" encoding="utf-8"?>
<region>
  <全部城市>
    <sql><![CDATA[select city from ip]]></sql>
  </全部城市>
  <删除试玩游戏>
    <sql><![CDATA[delete demo
output deleted.img
where id=@id
delete DemoAccounts where demoid=@id
delete DemoRequires where demoid=@id
delete demouser where demoid=@id]]></sql>
  </删除试玩游戏>
  <后台列表试玩游戏>
    <sql><![CDATA[select * !from demo where 1=1]]></sql>
    <and><![CDATA[and gamename like '%'+@key+'%']]></and>
    <and><![CDATA[and state=@state]]></and>
    <and><![CDATA[and rec=@rec]]></and>
    <and><![CDATA[and rec_hot=@rec_hot]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </后台列表试玩游戏>
  <审核试玩游戏>
    <sql><![CDATA[update demo set state=case state when 0 then 1 when 1 then 0 end where id=@id]]></sql>
  </审核试玩游戏>
  <后台试玩游戏的全部试玩帐号>
    <sql><![CDATA[select *,(select top 1 uname from demouser inner join users on DemoUser.userid=users.id where accountid=DemoAccounts.id) as state
from DemoAccounts where demoid=@demoid]]></sql>
    <and><![CDATA[and (uname like '%'+@key+'%' or systemname like '%'+@key+'%')]]></and>
    <and><![CDATA[and city=@city]]></and>
    <orderby><![CDATA[id desc]]></orderby>
  </后台试玩游戏的全部试玩帐号>
  <后台删除试玩帐号>
    <sql><![CDATA[delete DemoAccounts where demoid=@demoid and id=@accountid
and not exists(select 1 from demouser where accountid=DemoAccounts.id)]]></sql>
  </后台删除试玩帐号>
  <后台添加试玩帐号>
    <sql><![CDATA[insert into DemoAccounts (demoid,systemname,url,uname,pass,city)
values (@demoid,@systemname,@url,@uname,@pass,@city)]]></sql>
  </后台添加试玩帐号>
  <后台推送试玩游戏到频道>
    <sql><![CDATA[update demo set rec=case rec when 0 then 1 when 1 then 0 end,rec_time=getdate() where id=@id]]></sql>
  </后台推送试玩游戏到频道>
  <后台推送试玩游戏到首页>
    <sql><![CDATA[update demo set rec_hot=case rec_hot when 0 then 1 when 1 then 0 end,rec_hot_time=getdate() where id=@id]]></sql>
  </后台推送试玩游戏到首页>
  <后台试玩游戏的全部要求>
    <sql><![CDATA[select * from DemoRequires where demoid=@demoid]]></sql>
  </后台试玩游戏的全部要求>
</region>