<?xml version="1.0" encoding="utf-8"?>
<region>
  <添加游戏>
    <sql><![CDATA[insert into game (name,type1,type2,type3,image1,image2,image3,image4,imgs,company,operator,msg,url) 
values (@name,@type1,@type2,@type3,@image1,@image2,@image3,@image4,@imgs,@company,@operator,@msg,@url)]]></sql>
  </添加游戏>
  <获取游戏>
    <sql><![CDATA[select * from game where id=@id]]></sql>
  </获取游戏>
  <修改游戏>
    <sql><![CDATA[update game set name=@name,
type1=@type1,type2=@type2,type3=@type3,
image1=@image1,image2=@image2,image3=@image3,image4=@image4,
imgs=@imgs,
company=@company,operator=@operators,msg=@msg,url=@url
output deleted.imgs
where id=@id]]></sql>
  </修改游戏>
  <后台游戏列表>
    <sql><![CDATA[select * 
!from game 
where 1=1]]></sql>
    <and><![CDATA[and name like '%'+@key+'%']]></and>
    <and><![CDATA[and type1=@type1]]></and>
    <and><![CDATA[and type2=@type2]]></and>
    <and><![CDATA[and type3=@type3]]></and>
    <and><![CDATA[and rec=@rec]]></and>
    <and><![CDATA[and rec_hot=@rec_hot]]></and>
    <and><![CDATA[and rec_index=@rec_index]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </后台游戏列表>
  <删除游戏>
    <sql><![CDATA[delete game 
output deleted.image1,deleted.image2,deleted.image3,deleted.image4,deleted.imgs
where id=@id]]></sql>
  </删除游戏>
  <后台推送新闻到最新>
    <sql><![CDATA[update game set rec=case rec when 1 then 0 when 0 then 1 end,rec_time=getdate()
output inserted.rec
where id=@id]]></sql>
  </后台推送新闻到最新>
  <后台推送新闻到最热>
    <sql><![CDATA[update game set rec_hot=case rec_hot when 1 then 0 when 0 then 1 end,rec_hot_time=getdate()
output inserted.rec_hot
where id=@id]]></sql>
  </后台推送新闻到最热>
  <后台推送新闻到首页>
    <sql><![CDATA[update game set rec_index=case rec_index when 1 then 0 when 0 then 1 end,rec_index_time=getdate()
output inserted.rec_index
where id=@id]]></sql>
  </后台推送新闻到首页>
  <游戏名称列表>
    <sql><![CDATA[select name from game ]]></sql>
  </游戏名称列表>
</region>