<?xml version="1.0" encoding="utf-8"?>
<region>
  <添加礼品>
    <sql><![CDATA[insert into gift (name,logo,price,oldprice,color,stock,explain,msg,imgs,state) 
values (@name,@logo,@price,@oldprice,@color,@stock,@explain,@msg,@imgs,1)]]></sql>
  </添加礼品>
  <获取礼品>
    <sql><![CDATA[select * from gift where id=@id]]></sql>
  </获取礼品>
  <修改礼品>
    <sql><![CDATA[update gift set name=@name,
logo=@logo,price=@price,
oldprice=@oldprice,color=@color,stock=@stock,explain=@explain,msg=@msg,
imgs=@imgs
output deleted.imgs
where id=@id]]></sql>
  </修改礼品>
  <后台礼品列表>
    <sql><![CDATA[select * 
!from gift
where 1=1]]></sql>
    <and><![CDATA[and name like '%'+@key+'%']]></and>
    <and><![CDATA[and state=@state]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </后台礼品列表>
  <删除礼品>
    <sql><![CDATA[delete gift 
output deleted.logo,deleted.imgs
where id=@id]]></sql>
  </删除礼品>
  <变更礼品状态>
    <sql><![CDATA[update gift set state=case state when 0 then 1 when 1 then 0 else 0 end where id=@id]]></sql>
  </变更礼品状态>
</region>
