<?xml version="1.0" encoding="utf-8"?>
<region>
  <添加美女图片>
    <sql><![CDATA[insert into girl (title,tag,imgs) 
values (@title,@tag,@imgs)]]></sql>
  </添加美女图片>
  <获取美女图片>
    <sql><![CDATA[select * from girl where id=@id]]></sql>
  </获取美女图片>
  <修改美女图片>
    <sql><![CDATA[update girl set title=@title,
tag=@tag,imgs=@imgs
output deleted.imgs
where id=@id]]></sql>
  </修改美女图片>
  <后台美女图片列表>
    <sql><![CDATA[select * 
!from girl 
where 1=1]]></sql>
    <and><![CDATA[and title like '%'+@key+'%']]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </后台美女图片列表>
  <删除美女图片>
    <sql><![CDATA[delete girl 
output deleted.imgs
where id=@id]]></sql>
  </删除美女图片>
  <推荐美女图片>
    <sql><![CDATA[update girl set rec=case rec when 0 then 1 when 1 then 0 end,rec_time=getdate() where id=@id]]></sql>
  </推荐美女图片>
</region>