<?xml version="1.0" encoding="utf-8"?>
<region>
  <寻礼包_热门游戏>
    <sql><![CDATA[;with cte_name(gamename,lasttime) --创建公共表达式
as
(
  select top 6 gamename,max(rec_hot_time) from Package where rec_hot=1 
  group by gamename
  order by 2 desc
)

select name,image2,
(
select c.systemname, c.id,max(p.rec_hot_time) as rec_hot_time
 from package p inner join company c on c.id=p.companyId 
 where p.gamename=g.name
 and c.state=1 and p.state in (1,3) 
 group by c.systemname, c.id for xml path('N'),root('P')
)
from cte_name t inner join game g on t.gamename=g.name
order by t.lasttime desc]]></sql>
  </寻礼包_热门游戏>
  <寻礼包_推荐礼包>
    <sql><![CDATA[select top(@top) p.id,g.image2,g.image3,c.systemname,p.name,p.gamename from Package p inner join game g on p.gamename=g.name
inner join company c on c.id=p.companyId
where p.state in (1,3) and p.rec=1 and c.state=1 and p.type=@type
order by p.rec_time desc
]]></sql>
  </寻礼包_推荐礼包>
  <查攻略_热门攻略>
    <sql><![CDATA[;with cte_name(gamename,lasttime) --创建公共表达式
as
(
  select top 4 gamename,max(rec_hot_time) from UserRaiders where rec=1 
  group by gamename
  order by 2 desc
)

select gamename,image2,
(
 select dbo.stringjoin(concat('{ "id":"',id,'","title":"',title,'" }')) from (
 select top 2 id,dbo.isnull(title1,title) as title
 from UserRaiders
 where gamename=t.gamename
 order by rec_time desc
 ) p
)
from cte_name t inner join game g on t.gamename=g.name]]></sql>
  </查攻略_热门攻略>
  <查攻略_最新攻略>
    <sql><![CDATA[select id,gamename,title,intime !from UserRaiders
where state=1]]></sql>
    <orderby><![CDATA[intime desc]]></orderby>
  </查攻略_最新攻略>
  <查攻略_攻略详情>
    <sql><![CDATA[select * from UserRaiders where id=@id and state=1

select top 1 id,title from UserRaiders where id<@id and state=1 order by intime desc
select top 1 id,title from UserRaiders where id>@id and state=1 order by intime

select top(@top) t2.id,t2.title,t2.intime from UserRaiders t1 inner join UserRaiders t2 on t1.gamename=t2.gamename
where t1.id=@id and t2.id!=@id and t1.state=1 and t2.state=1
order by t2.intime desc]]></sql>
  </查攻略_攻略详情>
  <查攻略_搜索结果>
    <sql><![CDATA[select id,gamename,title,intime !from UserRaiders
where state=1]]></sql>
    <and><![CDATA[ and gamename=@gamename]]></and>
    <and><![CDATA[ and title like '%'+@key+'%']]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </查攻略_搜索结果>
  <看新闻_推荐新闻>
    <sql><![CDATA[declare ~tb table(id int,title varchar(500),img varchar(200))
insert into ~tb
select top 1 id,dbo.isnull(title1,title) as title,img from news where rec=1 and type=@type and state=1 and img!='' order by rec_time desc

select * from ~tb
select top(@top) id,dbo.isnull(title1,title) as title from news where rec=1 and type=@type and state=1
and id not in(select id from ~tb)
order by rec_time desc]]></sql>
  </看新闻_推荐新闻>
  <看新闻_首页新闻八卦>
    <sql><![CDATA[select top(@top) id,title,img from news where type=0 and img!='' and rec=1 order by rec_time desc
]]></sql>
  </看新闻_首页新闻八卦>
  <看新闻_新闻列表>
    <sql><![CDATA[select id,title,memo,intime,type !from news where state=1 and type>0]]></sql>
    <and><![CDATA[and (title like '%'+@key+'%' or key1 like '%'+@key+'%')]]></and>
    <and><![CDATA[and companyid=@companyid]]></and>
    <and><![CDATA[and type=@type]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </看新闻_新闻列表>
  <看新闻_新闻八卦首页>
    <sql><![CDATA[select id,title,img,intime !from news where type=0 and img!='']]></sql>
    <and><![CDATA[and (title like '%'+@key+'%' or key1 like '%'+@key+'%')]]></and>
    <orderby><![CDATA[ intime desc]]></orderby>
  </看新闻_新闻八卦首页>
  <看新闻_新闻八卦详情>
    <sql><![CDATA[select * from news where id=@id and type=0

select top(@top) id,title,dbo.getimg(msg) as img,intime from news where id<@id and type=0 order by intime desc
--select top(@top) id,title,dbo.getimg(msg) as img,intime from news where id>@id and type=0 order by intime]]></sql>
  </看新闻_新闻八卦详情>
  <看新闻_新闻详情>
    <sql><![CDATA[declare ~type int
select ~type=type from news where id=@id and state=1
select * from news where id=@id

select top 1 id,title from news where id<@id and type=~type and state=1 order by intime desc
select top 1 id,title from news where id>@id and type=~type and state=1 order by intime

declare ~tb table(id int, title varchar(500), intime datetime)
if ~type=3 --按厂商推荐
insert into ~tb
select top(@top) t2.id,t2.title,t2.intime from news t1 inner join news t2 on t1.companyid=t2.companyid
where t1.id=@id and t2.id!=@id and t1.state=1 and t2.state=1
order by t2.intime desc
else --按游戏名推荐
insert into ~tb
select top(@top) t2.id,t2.title,t2.intime from news t1 inner join news t2 on t1.key1=t2.key1
where t1.id=@id and t2.id!=@id and t1.state=1 and t2.state=1
order by t2.intime desc

insert into ~tb
select top(@top) id,title,intime from news where id!=@id and state=1 and type=~type
order by intime desc

select top(@top) id,title,intime from ~tb
]]></sql>
  </看新闻_新闻详情>
  <找游戏_首页游戏列表>
    <sql><![CDATA[select id,name,image3 !from game where 1=1]]></sql>
    <and><![CDATA[and name like '%'+@key+'%']]></and>
    <and><![CDATA[and type1=@type1]]></and>
    <and><![CDATA[and type2=@type2]]></and>
    <and><![CDATA[and type3=@type3]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </找游戏_首页游戏列表>
  <找游戏_首页最新>
    <sql><![CDATA[select top(@top) id,name,image2 from game where rec=1 order by rec_time desc]]></sql>
  </找游戏_首页最新>
  <找游戏_首页最热>
    <sql><![CDATA[select top(@top) id,name,image2 from game where rec_hot=1 order by rec_hot_time desc]]></sql>
  </找游戏_首页最热>
  <搜开服_今日开服>
    <sql><![CDATA[select s.id,s.gamename,format(starttime,'HH:mm') as starttime,s.servername,c.systemname,s.packageid,p.name,
case s.packageid when 0 then 0 else (select count(1) from packagecard pc where pc.packageid=s.packageid and pc.userid>0) end as packagecardcount
,s.url as gameurl,s.rec_hot
from [servers] s inner join company c on s.companyid=c.id
left join package p on s.packageid=p.id
where cast(starttime as date)=cast(getdate() as date)
and s.state=1 and c.state=1 and (p.state in (1,3) or p.state is null)]]></sql>
    <and><![CDATA[and s.rec_hot=@hot]]></and>
    <and><![CDATA[and (s.gamename like '%'+@key+'%' or c.systemname like '%'+@key+'%')]]></and>
    <orderby><![CDATA[s.starttime,rec_hot desc]]></orderby>
  </搜开服_今日开服>
  <搜开服_今日开测>
    <sql><![CDATA[select g.id,starttime,t.gamename,g.image2,t.state,g.company,g.type1,g.type3,t.package,t.url as gameurl 
from tests t inner join game g on t.gamename=g.name
where cast(starttime as date)=cast(getdate() as date)
order by starttime

select g.id,starttime,t.gamename,g.image2,t.state,g.company,g.type1,g.type3,t.package,t.url as gameurl 
from tests t inner join game g on t.gamename=g.name
where cast(starttime as date)>cast(getdate() as date)
order by starttime

select g.id,starttime,t.gamename,g.image2,t.state,g.company,g.type1,g.type3,t.package,t.url as gameurl 
from tests t inner join game g on t.gamename=g.name
where datediff(d,starttime,getdate())<30 and cast(starttime as date)<cast(getdate() as date)
order by starttime desc
]]></sql>
  </搜开服_今日开测>
  <搜开服_测试日历>
    <sql><![CDATA[select g.id,starttime,t.gamename,g.image2,t.state,g.company,g.type1,g.type3,t.package,t.url as gameurl 
from tests t inner join game g on t.gamename=g.name
where starttime>=format(cast(@start as date),'yyyy-M-1') and starttime<format(dateadd(M,1,cast(@start as date)),'yyyy-M-1')
order by starttime desc]]></sql>
  </搜开服_测试日历>
  <搜开服_开测搜索结果>
    <sql><![CDATA[select g.id,starttime,t.gamename,g.image2,t.state,g.company,g.type1,g.type3,t.package,t.url as gameurl 
from tests t inner join game g on t.gamename=g.name
where t.gamename like '%'+@key+'%'
order by starttime desc]]></sql>
  </搜开服_开测搜索结果>
  <寻礼包_礼包列表>
    <sql><![CDATA[select package.id,game.id as gameid,gamename,companyid,c.systemname,package.name,startdate,enddate,
(select count(1) from PackageCard where packageid=package.id and userid=0) as cardcou,package.type
 !from package inner join game on package.gamename=game.name 
inner join company c on package.companyid=c.id
 where package.state in (1,3) /*and startdate<getdate() and enddate>=cast(getdate() as date)*/]]></sql>
    <and><![CDATA[and (gamename like '%'+@key+'%' or c.systemname like '%'+@key+'%')]]></and>
    <and><![CDATA[and companyid=@companyid]]></and>
    <and><![CDATA[and type=@type]]></and>
    <orderby><![CDATA[startdate desc]]></orderby>
  </寻礼包_礼包列表>
  <寻礼包_礼包详情>
    <sql><![CDATA[select p.id,p.gamename,p.msg,memo,c.systemname,p.type,startdate,enddate,g.image3,p.name as packagename,p.url,
( ) as cardcou,
(select count(1) from PackageCard where packageid=p.id) as cardcou1
from package p inner join company c on p.companyid=c.id
inner join game g on p.gamename=g.name
where p.state in (1,3) --and startdate<getdate() and enddate>=cast(getdate() as date)
and p.id=@id
and c.state=1

select s.gamename,format(s.starttime,'MM-dd HH:mm'),s.servername,c.systemname,p1.name as packagename,s.url,s.rec_hot
from Servers s inner join package p on s.gamename=p.gamename
inner join company c on s.companyid=c.id
left join package p1 on s.packageid=p1.id
where s.state=1 and cast(starttime as date)=cast(getdate() as date) and c.state=1
and p.state in (1,3) --and p.startdate<getdate() and p.enddate>=cast(getdate() as date)
and p.id=@id
order by s.starttime,rec_hot desc

select top(@top) p2.id,p2.gamename,c.systemname as companyname,p2.name,format(p2.startdate,'yyyy-MM-dd'),format(p2.enddate,'yyyy-MM-dd'),
(select count(1) from PackageCard where packageid=p2.id and userid=0) as cardcou
from package p1 inner join package p2 on p1.gamename=p2.gamename
inner join company c on p2.companyid=c.id
where p1.id=@id and p2.id!=@id and c.state=1
and p1.state in (1,3) --and p1.startdate<getdate() and p1.enddate>cast(getdate() as date)
and p2.state in (1,3) --and p2.startdate<getdate() and p2.enddate>cast(getdate() as date)
order by p2.startdate desc]]></sql>
  </寻礼包_礼包详情>
  <找游戏_游戏详情>
    <sql><![CDATA[select name,image1,type1,type2,type3,company,operator,msg,url,imgs,image3 from game where id=@id

--1-资讯
select top(@top1) n.id,n.title,type from news n inner join game g on n.key1=g.name
where g.id=@id and n.state=1
order by n.intime desc

--2-攻略
select top(@top2) u.id,u.title from UserRaiders u inner join game g on u.gamename=g.name
where g.id=@id and u.state=1
order by u.intime desc

--3-开服
select s.starttime,c.systemname,s.url,s.rec_hot from Servers s inner join game g on s.gamename=g.name
inner join company c on s.companyid=c.id
where g.id=@id and s.state=1 and c.state=1
and cast(s.starttime as date)=cast(getdate() as date)
order by s.starttime desc

--4-礼包
--1先按照类别：独家礼包，推荐礼包，激活码（独家礼包没数据，就取推荐的，推荐的也没有，就激活码的）
--2、按照有效期排，倒序（比如2016-10-09开始的，接下来是2016-10-07开始的）
--类别序为 1-推荐礼包；2-激活码；3-独家礼包；
select top(@top4) p.id,c.systemname,g.name as gamename,p.name,case type when 3 then 1 when 1 then 2 when 2 then 3 end as sort 
from Package p inner join game g on p.gamename=g.name
inner join company c on p.companyid=c.id
where g.id=@id and p.state in (1,3) and c.state=1
and p.startdate<getdate() and p.enddate>cast(getdate() as date)
order by sort,startdate desc

--5-福利
select d.id,image3,gamename,(select sum(p2) from DemoRequires where demoid=d.id) from demo d inner join game g on d.gamename=g.name
where g.id=@id

--6-联运平台
select c.systemname,cg.url from CompanyGame cg inner join game g on cg.gamename=g.name
inner join company c on c.id=cg.companyid
where g.id=@id and c.state=1

--7-相关推荐
select top(@top7) g2.id,g2.name,g2.image2 from game g1 inner join game g2 on g1.type2=g2.type2
where g1.id=@id
order by newid()

]]></sql>
  </找游戏_游戏详情>
  <美女图库_列表>
    <sql><![CDATA[select id,title,(select top 1 code from dbo.Split_String(imgs,',') where code!='' order by code),tag
!from girl where 1=1]]></sql>
    <and><![CDATA[and tag&@tag>0]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </美女图库_列表>
  <美女图库_详细>
    <sql><![CDATA[select * from girl where id=@id

select top 1 id from girl where id<@id order by intime desc
select top 1 id from girl where id>@id order by intime]]></sql>
  </美女图库_详细>
  <厂商大全_列表>
    <sql><![CDATA[select id,logo,systemname,msg !from company where state=1]]></sql>
    <and><![CDATA[and systemname like '%'+@key+'%']]></and>
    <and><![CDATA[and systemname like '%'+@num]]></and>
    <and><![CDATA[and dbo.f_getpy(systemname)=@py ]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </厂商大全_列表>
  <厂商大全_详细_运营游戏>
    <sql><![CDATA[select g.id,g.name,g.type1,g.type2,g.type3,g.company,g.image2,cg.url,dbo.WipeHTML(g.msg,200) as msg,g.image3
!from CompanyGame cg inner join game g on cg.gamename=g.name
where companyid=@companyid and cg.type=@type]]></sql>
    <orderby><![CDATA[cg.intime desc]]></orderby>
  </厂商大全_详细_运营游戏>
  <厂商大全_详细>
    <sql><![CDATA[select *,(select count(1) from CompanyGame where companyid=company.id) as operatorcou from company where id=@id and state=1

--1-新闻
select top(@top1) id,title,intime,memo,type from news 
where companyid=@id and state=1
order by intime desc

--2-开服
select g.name,s.servername,s.starttime,s.url,p.name as packagename,s.rec_hot 
from Servers s inner join game g on s.gamename=g.name
left join package p on s.packageid=p.id
where s.companyid=@id and s.state=1
and cast(starttime as date)=cast(getdate() as date)
order by starttime desc

--3-礼包
--1先按照类别：独家礼包，推荐礼包，激活码（独家礼包没数据，就取推荐的，推荐的也没有，就激活码的）
--2、按照有效期排，倒序（比如2016-10-09开始的，接下来是2016-10-07开始的）
--类别序为 1-推荐礼包；2-激活码；3-独家礼包；
select top(@top3) p.id,gamename,p.name,g.image3,case type when 3 then 1 when 1 then 2 when 2 then 3 end as sort 
from Package p inner join game g on p.gamename=g.name
where companyid=@id and state in (1,3) 
and p.startdate<getdate() and p.enddate>cast(getdate() as date)
order by sort,startdate desc]]></sql>
  </厂商大全_详细>
  <淘福利_游戏试玩>
    <sql><![CDATA[select d.id,dbo.isnull(d.img,g.image3),gamename,(select sum(p2) from DemoRequires where demoid=d.id) as p2 
!from demo d inner join game g on d.gamename=g.name
where d.state=1 ]]></sql>
    <and><![CDATA[and gamename like '%'+@key+'%']]></and>
    <and><![CDATA[and d.rec=1]]></and>
    <orderby><![CDATA[d.rec_time desc]]></orderby>
  </淘福利_游戏试玩>
  <淘福利_游戏试玩详情_第一步>
    <sql><![CDATA[select d.id,dbo.isnull(d.img,g.image3) as image3,gamename,(select sum(p2) from DemoRequires where demoid=d.id) as p2,
g.type1,g.type2,g.type3,g.company,
(
 select dbo.stringjoin(distinct systemname) from DemoAccounts
   where demoid=d.id and not exists(select 1 from demouser where accountid=DemoAccounts.id)
) as operator
from demo d inner join game g on d.gamename=g.name
and d.id=@id]]></sql>
  </淘福利_游戏试玩详情_第一步>
  <淘福利_游戏试玩详情_第二步>
    <sql><![CDATA[select id,systemname,uname,pass,url,(select top 1 userid from demouser where accountid=da.id and userid=@userid)
from DemoAccounts da
where da.demoid=@id]]></sql>
  </淘福利_游戏试玩详情_第二步>
  <淘福利_游戏试玩详情_第三步>
    <sql><![CDATA[select dr.id,dr.p1,dr.p2,dr.p3,du.img,du.state,du.userid,du.reason
from DemoRequires dr left join demouser du on du.requireid=dr.id and userid=@userid and accountid=@accountid
where dr.demoid=@demoid]]></sql>
  </淘福利_游戏试玩详情_第三步>
  <淘福利_领取试玩游戏帐号>
    <sql><![CDATA[insert into demouser (demoid,accountid,requireid,userid)
select demoid,@accountid,id,@userid from DemoRequires where demoid=@demoid]]></sql>
  </淘福利_领取试玩游戏帐号>
  <寻礼包_领号>
    <sql><![CDATA[update top(1) PackageCard set userid=@userid,intime=getdate()
output deleted.code
where packageid=@id and userid=0
select p.msg,p.memo,p.gamename,c.systemname from Package p inner join company c on p.companyid=c.id
where p.id=@id]]></sql>
  </寻礼包_领号>
  <右边内容>
    <sql><![CDATA[--0-开服信息
select s.id,s.gamename,format(starttime,'HH:mm') as starttime,s.servername,c.systemname,s.packageid,p.name,
case s.packageid when 0 then 0 else (select count(1) from packagecard pc where pc.packageid=s.packageid and pc.userid>0) end as packagecardcount
,s.url as gameurl,s.rec_hot
from [servers] s inner join company c on s.companyid=c.id
left join package p on s.packageid=p.id
where cast(starttime as date)=cast(getdate() as date)
and s.state=1 and c.state=1 and (p.state in (1,3) or p.state is null)

--1-最强福利
select top(@top2) d.id,dbo.isnull(d.img,g.image3) as image3,gamename,(select sum(p2) from DemoRequires where demoid=d.id) as p2 
from demo d inner join game g on d.gamename=g.name
where d.state=1 and d.rec_hot=1
order by d.rec_hot_time desc

--2-攻略推荐
select top(@top3) id,dbo.isnull(title1,title) as title from UserRaiders where rec_hot=1 order by rec_hot_time desc]]></sql>
  </右边内容>
  <获取首页数据>
    <sql><![CDATA[--0-新闻
select top(@top1) id,dbo.isnull(title1,title) as title,intime,type from news where state=1 and rec_hot=1 order by rec_hot_time desc

--1-游戏
select top(@top2) id,name,image3 from game where rec_index=1 order by rec_index_time desc

--2-礼包
select top(@top3) p.id,g.image2,c.systemname,p.gamename,p.name as packagename from Package p inner join game g on p.gamename=g.name
inner join company c on c.id=p.companyid
where p.state in (1,3) and c.state=1
and p.rec_index=1 order by p.rec_index_time desc

--3-开服信息
select s.id,s.gamename,format(starttime,'HH:mm') as starttime,s.servername,c.systemname,s.packageid,p.name,
case s.packageid when 0 then 0 else (select count(1) from packagecard pc where pc.packageid=s.packageid and pc.userid>0) end as packagecardcount
,s.url as gameurl,s.rec_hot
from [servers] s inner join company c on s.companyid=c.id
left join package p on s.packageid=p.id
where cast(starttime as date)=cast(getdate() as date)
and s.state=1 and c.state=1 and (p.state in (1,3) or p.state is null)

--4-开测信息
select top(@top4) g.id,starttime,t.gamename,g.image2,t.state,g.company,g.type1,g.type3,t.package,t.url as gameurl 
from tests t inner join game g on t.gamename=g.name
where cast(starttime as date)>=cast(getdate() as date)
order by starttime

--5-福利
select top(@top5) d.id,dbo.isnull(d.img,g.image3) as image3,gamename,(select sum(p2) from DemoRequires where demoid=d.id) as p2 
from demo d inner join game g on d.gamename=g.name
where d.state=1 and d.rec_hot=1 order by d.rec_hot_time desc

--6-厂商
select top(@top6) id,logo,systemname,msg,
(select dbo.stringjoin(concat('{ "id":"',id,'", "title":"',dbo.encode(title),'", "type":"',type, '" }')) from (select top(@top6_1) id,title,type from news where companyid=company.id and state=1 order by intime desc) t) as news
from company where state=1 and rec_index=1 order by rec_index_time desc

--7-攻略
select top(@top7) ur.id,dbo.isnull(title1,title) as title,image4 from UserRaiders ur inner join game g on ur.gamename=g.name
where ur.state=1 and ur.rec_hot=1 order by ur.rec_hot_time desc

--8-美女图片
select top(@top8) id,title,(select top 1 code from dbo.Split_String(imgs,',')) from girl where rec=1 order by rec_time desc]]></sql>
  </获取首页数据>
  <厂商大全-频道推荐>
    <sql><![CDATA[select top(@top) id,systemname,logo
from company where state=1 and rec=1 order by rec_time desc]]></sql>
  </厂商大全-频道推荐>
  <淘福利_礼品列表>
    <sql><![CDATA[select id,name,logo,price from gift where state=1 order by intime desc]]></sql>
  </淘福利_礼品列表>
  <淘福利_上传截图>
    <sql><![CDATA[update DemoUser set img=@img,intime=getdate(),state=2 where demoid=@demoid and requireid=@requireid and accountid=@accountid and userid=@userid]]></sql>
  </淘福利_上传截图>
  <后台审核试玩游戏要求列表>
    <sql><![CDATA[select du.demoid,du.accountid,du.requireid,du.userid,
d.gamename,da.systemname,da.uname as account,u.uname,da.url,dr.p1,dr.p2,dr.p3,du.img,du.intime 
!from DemoUser du inner join demo d on d.id=du.demoid
inner join DemoAccounts da on du.accountid=da.id
inner join DemoRequires dr on du.requireid=dr.id
inner join Users u on du.userid=u.id
where du.img!='']]></sql>
    <and><![CDATA[and (u.uname like '%'+@key+'%' or d.gamename like '%'+@key+'%' or da.systemname like '%'+@key+'%')]]></and>
    <and><![CDATA[and du.state=@state]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </后台审核试玩游戏要求列表>
  <列出试玩游戏要求上下文>
    <sql><![CDATA[select du.requireid,dr.p1,dr.p2,dr.p3,du.img,format(du.intime,'yyyy-MM-dd HH:mm:ss'),du.state
from DemoUser du inner join demo d on d.id=du.demoid
inner join DemoAccounts da on du.accountid=da.id
inner join DemoRequires dr on du.requireid=dr.id
where du.demoid=@demoid and du.accountid=@accountid and du.userid=@userid]]></sql>
  </列出试玩游戏要求上下文>
  <淘福利-最大充值数>
    <sql><![CDATA[declare ~p1 int,~p2 int
select ~p1=max(cast(p3 as int)) from DemoUser du inner join DemoRequires dr on du.demoid=dr.demoid and du.requireid=dr.id
where userid=@userid and du.demoid=@demoid and accountid=@accountid and state=1

select ~p2=isnull(sum(pay),0) from demoRecharge 
where demoid=@demoid and accountid=@accountid and userid=@userid and state!=0

select ~p1-~p2,sum(pay) from usermessage where userid=@userid]]></sql>
  </淘福利-最大充值数>
  <后台游戏试玩充值列表>
    <sql><![CDATA[select dr.id,d.gamename,da.uname as account,da.pass,u.uname,dr.pay,dr.memo,dr.intime,dr.state,da.systemname
!from DemoRecharge dr inner join demo d on d.id=dr.demoid
inner join DemoAccounts da on dr.accountid=da.id
inner join users u on u.id=dr.userid
where 1=1]]></sql>
    <and><![CDATA[and (d.gamename like '%'+@key+'%' or u.uname like '%'+@key+'%' or da.uname like '%'+@key+'%')]]></and>
    <and><![CDATA[and dr.state=@state]]></and>
    <orderby><![CDATA[dr.intime desc]]></orderby>
  </后台游戏试玩充值列表>
  <确认游戏试玩充值记录>
    <sql><![CDATA[if @state=0 --退款
insert into usermessage (userid,title,msg,state,paytype,pay)
  select dr.userid,
    concat('爽币玩游戏—',da.systemname,'《',d.gamename,'》试玩账号',da.uname,'充值失败'),
    concat('亲爱的爽赞会员非常遗憾，您在',da.systemname,'《',d.gamename,'》的试玩账号',da.uname,'充值失败，消费的',dr.pay,'爽币已经退回，请注意查看账户余额。更多活动，敬请关注淘福利版块哟~'),
    0/*消息未读*/,3/*爽币消费记录*/,dr.pay/*加分值*/ 
    from DemoRecharge dr inner join demo d on d.id=dr.demoid 
    inner join DemoAccounts da on dr.accountid=da.id 
    where dr.id=@id and dr.state=2
else if @state=1 --成功
insert into usermessage (userid,title,msg,state,paytype,pay)
  select dr.userid,
    concat('爽币玩游戏—',da.systemname,'《',d.gamename,'》试玩账号',da.uname,'充值成功'),
    concat('亲爱的爽赞会员恭喜您，',da.systemname,'《',d.gamename,'》的试玩账号',da.uname,'的游戏元宝已到账，请注意前往游戏查看账户余额。更多活动，敬请关注“淘福利”版块哟~
'),
    0/*消息未读*/,3/*爽币消费记录*/,0/*加分值*/ 
    from DemoRecharge dr inner join demo d on d.id=dr.demoid 
    inner join DemoAccounts da on dr.accountid=da.id 
    where dr.id=@id and dr.state=2
update DemoRecharge set state=@state,reason=@reason where id=@id and state=2]]></sql>
  </确认游戏试玩充值记录>
  <厂商取回密码>
    <sql><![CDATA[select pass,email from company where email=@email or uname=@email]]></sql>
  </厂商取回密码>
  <淘福利_个人领的全部帐号>
    <sql><![CDATA[select du.demoid,d.gamename,du.accountid,da.systemname,da.uname,da.pass 
from demo d inner join 
(select distinct demoid,accountid from Demouser where userid=@userid) du on d.id=du.demoid
inner join DemoAccounts da on du.accountid=da.id]]></sql>
  </淘福利_个人领的全部帐号>
  <意见反馈>
    <sql><![CDATA[insert into feedback (msg,mobile) values (@msg,@mobile)]]></sql>
  </意见反馈>
  <留言列表>
    <sql><![CDATA[select id,dbo.wipehtml(msg,200) as msg,mobile,intime !from feedback where 1=1]]></sql>
    <and><![CDATA[and msg like '%'+@key+'%']]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </留言列表>
  <删除留言>
    <sql><![CDATA[delete feedback where id=@id]]></sql>
  </删除留言>
  <获取留言>
    <sql><![CDATA[select msg from feedback where id=@id]]></sql>
  </获取留言>
</region>