<?xml version="1.0"?>
<region>

  <套餐>
    <node text="开服套餐1" money="1000" num="100">1</node>
    <node text="开服套餐2" money="2000" num="200">2</node>
    <node text="开服套餐3" money="3000" num="300">3</node>
  </套餐>
  <TDK>
    <node text="厂商">1</node>
    <node text="新闻-新游在线">2</node>
    <node text="新闻-热游动态">3</node>
    <node text="新闻-产业资讯">4</node>
    <node text="找游戏-类型-角色扮演">5</node>
    <node text="找游戏-类型-战争策略">6</node>
    <node text="找游戏-类型-模拟经营">7</node>
    <node text="找游戏-类型-休闲竞技">8</node>
    <node text="找游戏-类型-社区养成">9</node>
    <node text="找游戏-类型-儿童游戏">10</node>
    <node text="找游戏-题材-三国">11</node>
    <node text="找游戏-题材-西游">12</node>
    <node text="找游戏-题材-仙侠">13</node>
    <node text="找游戏-题材-武侠">14</node>
    <node text="找游戏-题材-奇幻">15</node>
    <node text="找游戏-题材-动漫">16</node>
    <node text="找游戏-题材-军事">17</node>
    <node text="找游戏-题材-体育">18</node>
    <node text="找游戏-题材-航海">19</node>
    <node text="找游戏-题材-其他">20</node>
    <node text="找游戏-玩法-即时">21</node>
    <node text="找游戏-玩法-回合">22</node>
    <node text="找游戏-玩法-其他">23</node>
    <node text="开服">24</node>
    <node text="开测">25</node>
    <node text="攻略">26</node>
    <node text="礼包">27</node>
  </TDK>

  <礼包类型>
    <node text="开服礼包">1</node>
    <node text="激活码">2</node>
    <node text="独家礼包">3</node>
  </礼包类型>
  <礼包审核>
    <node text="未通过">0</node>
    <node text="已通过">1</node>
    <node text="待审核">2</node>
    <node text="无需审核">3</node>
  </礼包审核>
  <新闻栏目>
    <node text="新游在线">1</node>
    <node text="热游动态">2</node>
    <node text="产业资讯">3</node>
  </新闻栏目>
  <游戏类型>
    <node text="角色扮演">1</node>
    <node text="战争策略">2</node>
    <node text="模拟经营">3</node>
    <node text="休闲竞技">4</node>
    <node text="社区养成">5</node>
    <node text="儿童游戏">6</node>
  </游戏类型>
  <游戏题材>
    <node text="三国">1</node>
    <node text="西游">2</node>
    <node text="仙侠">3</node>
    <node text="武侠">4</node>
    <node text="奇幻">5</node>
    <node text="动漫">6</node>
    <node text="军事">7</node>
    <node text="体育">8</node>
    <node text="航海">9</node>
    <node text="其他">10</node>
  </游戏题材>
  <游戏玩法>
    <node text="即时">1</node>
    <node text="回合">2</node>
    <node text="其他">3</node>    
  </游戏玩法>
  <游戏运营模式>
    <node text="联运">1</node>
    <node text="研发">2</node>
    <node text="独代">3</node>    
  </游戏运营模式>
  <美女标签>
    <node text="性感">1</node>
    <node text="清纯">2</node>
    <node text="可爱">4</node>
    <node text="美腿">8</node>
    <node text="唯美">16</node>
    <node text="古典美女">32</node>
    <node text="制服诱惑">64</node>
    <node text="爆乳">128</node>
  </美女标签>

  <快递>
    <node text="百世汇通">huitongkuaidi</node>
    <node text="德邦物流">debangwuliu</node>
    <node text="EMS">ems</node>
    <node text="申通">shentong</node>
    <node text="顺丰">shunfeng</node>
    <node text="天天快递">tiantian</node>
    <node text="圆通">yuantong</node>
    <node text="韵达">yunda</node>
    <node text="中通">zhongtong</node>
  </快递>

  <urlrewriter>
    <node text="/Test.aspx?id=$1&amp;page=$2" pse="/Test/$1page$2.html" acu="/Test.aspx\?id\=(\d+)&amp;page\=(\d+)">/Test/(\d+)page(\d+)\.html</node>
    <node text="/Test.aspx?id=$1" pse="/Test/$1.html" acu="/Test.aspx\?id\=(\d+)">/Test/(\d+)\.html</node>

    <node text="/Index.aspx" pse="-" acu="-">^/Index\.(aspx|html|shtm|shtml)$</node>
    <node text="/Study.aspx" pse="-" acu="-">/Study\.(aspx|html|shtm|shtml)</node>
    <node text="/WarmsUp.aspx" pse="-" acu="-">/WarmsUp\.(aspx|html|shtm|shtml)</node>
    <node text="/Trains.aspx" pse="-" acu="-">/Trains\.(aspx|html|shtm|shtml)</node>
    <node text="/Exchange.aspx" pse="-" acu="-">/Exchange\.(aspx|html|shtm|shtml)</node>
    <node text="/Server.aspx" pse="-" acu="-">/Server\.(aspx|html|shtm|shtml)</node>
    <node text="/Server.aspx?$1" pse="-" acu="-">/Server/(\d+)\.(aspx|html|shtm|shtml)</node>
    <node text="/About.aspx" pse="-" acu="-">/About\.(html|shtm|shtml)</node>
    <node text="/About.aspx?$1" pse="-" acu="-">/About/(\d+)\.(html|shtm|shtml)</node>
    <node text="/silingsi.aspx" pse="-" acu="-">/silingsi\.(aspx|html|shtm|shtml)</node>

    <node text="/Logins.aspx" pse="-" acu="-">/Logins\.(aspx|html|shtm|shtml)</node>
    <node text="/SendPass.aspx" pse="-" acu="-">/SendPass\.(aspx|html|shtm|shtml)</node>
    <node text="/Asks.aspx" pse="-" acu="-">/Asks\.(aspx|html|shtm|shtml)</node>
    <node text="/AsksCompany.aspx" pse="-" acu="-">/AsksCompany\.(aspx|html|shtm|shtml)</node>
    <node text="/AsksTeacher.aspx" pse="-" acu="-">/AsksTeacher\.(aspx|html|shtm|shtml)</node>

    <node text="/Users.aspx" pse="-" acu="-">/Users\.(aspx|html|shtm|shtml)</node>
    <node text="/Users.aspx?page=$1" pse="-" acu="-">/UsersP(\d+)\.(aspx|html|shtm|shtml)</node>
    <node text="/Users.aspx?City=$1&amp;Key=$2&amp;sType=$3" pse="-" acu="-">/Users/(.*?)_,(.*?)_,(.*?)\.(aspx|html|shtm|shtml)</node>
    <node text="/Users.aspx?City=$1&amp;Key=$2&amp;sType=$3&amp;page=$4" pse="-" acu="-">/Users/(.*?)_,(.*?)_,(.*?)P(\d+)\.(aspx|html|shtm|shtml)</node>
    <node text="/Diary.aspx" pse="-" acu="-">^/Diary\.(aspx|html|shtm|shtml)$</node>
    <node text="/Diary.aspx?Type=$1" pse="-" acu="-">^/Diary/(\d+)\.(aspx|html|shtm|shtml)$</node>
    <node text="/Diary.aspx?Type=$1&amp;page=$2" pse="-" acu="-">^/Diary/(\d+)P(\d+)\.(aspx|html|shtm|shtml)$</node>

    <!-- 以下是新闻部分 -->
    <node text="/Watchnews.aspx" pse="/Watchnews.aspx" acu="/news.html">/news.(aspx|html|shtm|shtml)</node>
	<!-- <node text="/Watchnews.aspx" pse="-" acu="-">/Watchnews.(aspx|html|shtm|shtml)</node> -->

	<node text="/IndustryInfor.aspx?page=$1" pse="/news/cy/page$1.html" acu="/IndustryInfor.aspx\?page\=(\d+)">/news/cy/page(\d+)\.html</node>
	<node text="/IndustryInfor.aspx" pse="-" acu="-">/news/cy\.html</node>

	<node text="/NewOnline.aspx?page=$1" pse="/news/xy/page$1.html" acu="/NewOnline.aspx\?page\=(\d+)">/news/xy/page(\d+)\.html</node>
	<node text="/NewOnline.aspx" pse="-" acu="-">/news/xy\.html</node>

	<node text="/HotSwim.aspx?page=$1" pse="/news/ry/page$1.html" acu="/HotSwim.aspx\?page\=(\d+)">/news/ry/page(\d+)\.html</node>
	<node text="/HotSwim.aspx" pse="-" acu="-">/news/ry\.(html|shtm|shtml)</node>

	<node text="/Watchnews02.aspx?page=$1" pse="/ylbg/page$1.html" acu="/Watchnews02.aspx\?page\=(\d+)">/ylbg/page(\d+)\.html</node>
	<node text="/Watchnews02.aspx" pse="-" acu="-">/ylbg\.(aspx|html|shtm|shtml)</node>

	<node text="/Watchnews03.aspx?id=$1&amp;source=xy" pse="-" acu="-">/news/xy/(\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/Watchnews03.aspx?id=$1&amp;source=ry" pse="-" acu="-">/news/ry/(\d+)\.(html|shtm|shtml)</node>
	<node text="/Watchnews03.aspx?id=$1&amp;source=cy" pse="-" acu="-">/news/cy/(\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/Watchnews03.aspx?id=$1&amp;source=xy" pse="-" acu="-">/Watchnews03_(\d+)_(\d+).(aspx|html|shtm|shtml)</node>

	<node text="/Watchnews04.aspx?id=$1" pse="-" acu="-">/ylbg/detail_(\d+)\.(aspx|html|shtm|shtml)</node>

	<node text="/Watchnews05.aspx?key=$1&amp;page=$2" pse="/news/search/$1/page$2.html" acu="/Watchnews05.aspx\?key\=(.*?)\&amp;page\=(\d+)">/news/search/(.*)/page(\d+)\.html</node>
	<node text="/Watchnews05.aspx?key=$1" pse="-" acu="-">/news/search/(.*?)\.(aspx|html|shtm|shtml)</node>

	<node text="/Watchnews06.aspx?key=$1&amp;page=$2" pse="/ylbg/search//$1/page$2.html" acu="/Watchnews06.aspx\?key\=(.*?)\&amp;page\=(\d+)">/ylbg/search/(.*?)/page(\d+)\.html</node>
	<node text="/Watchnews06.aspx?key=$1" pse="-" acu="-">/ylbg/search/(.*?)\.(aspx|html|shtm|shtml)</node>

	<node text="/Watchnews07.aspx?companyid=$1&amp;page=$2" pse="/news/cs/search/$1/page$2.html" acu="/Watchnews07.aspx\?companyid\=(\d+)\&amp;page\=(\d+)">/news/cs/search/(\d+)/page(\d+)\.html</node>
	<node text="/Watchnews07.aspx?companyid=$1" pse="-" acu="-">/news/cs/search/(\d+)\.(aspx|html|shtm|shtml)</node>
	
	<!-- 找游戏 -->
	<node text="/Findgame.aspx?type1=$1&amp;type2=$2&amp;type3=$3" pse="/games_$1_$2_$3.html" acu="/Findgame.aspx\?type1\=(-?\d+)\&amp;type2\=(-?\d+)\&amp;type3\=(-?\d+)">/games_(-?\d+)_(-?\d+)_(-?\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/Findgame.aspx?page=$1&amp;type1=$2&amp;type2=$3&amp;type3=$4" pse="/games/page$1_$2_$3_$4.html" acu="/Findgame.aspx\?page\=(\d+)\&amp;type1\=(-?\d+)\&amp;type2\=(-?\d+)\&amp;type3\=(-?\d+)">/games/page(\d+)_(-?\d+)_(-?\d+)_(-?\d+)\.html</node>

	<!-- 找游戏key -->
	<!-- <node text="/Findgame.aspx?key=&amp;type1=&amp;type2=&amp;type3=" pse="/games____.html" acu="/Findgame.aspx?key=(.*?)&amp;type1=(-?d+)&amp;type2=(-?d+)&amp;type3=(-?d+)">/games_(.*?)_(-?d+)_(-?d+)_(-?d+).(aspx|html|shtm|shtml)</node> -->

	<node text="/Findgame.aspx?key=$1" pse="-" acu="-">/games/search/(.*?)\.(aspx|html|shtm|shtml)</node>
	<node text="/Findgame.aspx?page=$1" pse="/games/page$1.html" acu="/Findgame.aspx\?page\=(\d+)">/games/page(\d+)\.html</node>
	<node text="/Findgame.aspx?key=$1&amp;page=$2" pse="/games/$1/page$2.html" acu="/Findgame.aspx\?key\=(.*?)\&amp;page\=(\d+)">/games/(.*?)/page(\d+)\.html</node>

	
	<node text="/Findgame.aspx" pse="-" acu="-">/games.(aspx|html|shtm|shtml)</node>
	<node text="/Findgame01.aspx?id=$1" pse="-" acu="-">/games/detail_(\d+)\.(html|shtm|shtml)</node>



	<!-- 寻礼包 -->
	<node text="/packages.aspx" pse="-" acu="-">/packages\.(aspx|html|shtm|shtml)</node>
	<node text="/package01.aspx?companyid=$1&amp;type=$2" pse="-" acu="-">/package01_(-?\d+)_(-?\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/package01.aspx?companyid=$1&amp;key=$2&amp;type=$3" pse="-" acu="-">/package01_(-?\d+)_(.*?)_(-?\d+)\.(aspx|html|shtm|shtml)</node>
	
	<!-- <node text="/package02.aspx?id=" pse="-" acu="-">/packages/all/detail_(d+).(aspx|html|shtm|shtml)</node> -->
	<node text="/package02.aspx?id=$1&amp;type=all" pse="-" acu="-">/packages/all/detail_(\d+).(aspx|html|shtm|shtml)</node>
	<node text="/package02.aspx?id=$1&amp;type=kf" pse="-" acu="-">/packages/kf/detail_(\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/package02.aspx?id=$1&amp;type=dj" pse="-" acu="-">/packages/dj/detail_(\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/package02.aspx?id=$1&amp;type=jh" pse="-" acu="-">/packages/jh/detail_(\d+)\.(aspx|html|shtm|shtml)</node>


	<node text="/package06.aspx?companyid=$1&amp;type=$2" pse="/packages/all_$1_$2.html" acu="/package06.aspx\?companyid\=(-?\d+)\&amp;type\=(-?\d+)">/packages/all_(-?\d+)_(-?\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/package06.aspx?companyid=$1&amp;page=$2&amp;type=$3" pse="/packages/all/$1/page$2_$3.html" acu="/package06.aspx\?companyid\=(-?\d+)\&amp;page\=(\d+)\&amp;type\=(-?\d+)">/packages/all/(-?\d+)/page(\d+)_(-?\d+)\.html</node>

	<node text="/package07.aspx?companyid=$1&amp;type=$2" pse="/packages/dj_$1_$2.html" acu="/package07.aspx\?companyid\=(-?\d+)\&amp;type\=(-?\d+)">/packages/dj_(-?\d+)_(-?\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/package07.aspx?companyid=$1&amp;page=$2&amp;type=$3" pse="/packages/dj/$1/page$2_$3.html" acu="/package07.aspx\?companyid\=(-?\d+)\&amp;page\=(\d+)\&amp;type\=(-?\d+)">/packages/dj/(-?\d+)/page(\d+)_(-?\d+)\.html</node>

	<node text="/package08.aspx?companyid=$1&amp;type=$2" pse="/packages/kf_$1_$2.html" acu="/package08.aspx\?companyid\=(-?\d+)\&amp;type\=(-?\d+)">/packages/kf_(-?\d+)_(-?\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/package08.aspx?companyid=$1&amp;page=$2&amp;type=$3" pse="/packages/kf/$1/page$2_$3.html" acu="/package08.aspx\?companyid\=(-?\d+)\&amp;page\=(\d+)\&amp;type\=(-?\d+)">/packages/kf/(-?\d+)/page(\d+)_(-?\d+)\.html</node>

	<node text="/package09.aspx?companyid=$1&amp;type=$2" pse="/packages/jh_$1_$2.html" acu="/package09.aspx\?companyid\=(-?\d+)\&amp;type\=(-?\d+)">/packages/jh_(-?\d+)_(-?\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/package09.aspx?companyid=$1&amp;page=$2&amp;type=$3" pse="/packages/jh/$1/page$2_$3.html" acu="/package09.aspx\?companyid\=(-?\d+)\&amp;page\=(\d+)\&amp;type\=(-?\d+)">/packages/jh/(-?\d+)/page(\d+)_(-?\d+)\.html</node>
	
	<!-- 找游戏关键词 -->
	<node text="/package06.aspx?companyid=$1&amp;key=$2&amp;type=$3" pse="-" acu="-">/packages/all_(-?\d+)_(.*?)_(-?\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/package06.aspx?companyid=$1&amp;key=$2&amp;page=$3&amp;type=$4" pse="/packages/all/$1/$2/page$3_$4.html" acu="/package06.aspx\?companyid\=(-?\d+)\&amp;key\=(.*?)&amp;page\=(\d+)\&amp;type\=(-?\d+)">/packages/all/(-?\d+)/(.*?)/page(\d+)_(-?\d+)\.html</node>
	<node text="/package07.aspx?companyid=$1&amp;key=$2&amp;type=$3" pse="-" acu="-">/packages/dj_(-?\d+)_(.*?)_(-?\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/package07.aspx?companyid=$1&amp;key=$2&amp;page=$3&amp;type=$4" pse="/packages/dj/$1/$2/page$3_$4.html" acu="/package07.aspx\?companyid\=(-?\d+)\&amp;key\=(.*?)&amp;page\=(\d+)\&amp;type\=(-?\d+)">/packages/dj/(-?\d+)/(.*?)/page(\d+)_(-?\d+)\.html</node>
	<node text="/package08.aspx?companyid=$1&amp;key=$2&amp;type=$3" pse="-" acu="-">/packages/kf_(-?\d+)_(.*?)_(-?\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/package08.aspx?companyid=$1&amp;key=$2&amp;page=$3&amp;type=$4" pse="/packages/kf/$1/$2/page$3_$4.html" acu="/package08.aspx\?companyid\=(-?\d+)\&amp;key\=(.*?)&amp;page\=(\d+)\&amp;type\=(-?\d+)">/packages/kf/(-?\d+)/(.*?)/page(\d+)_(-?\d+)\.html</node>
	<node text="/package09.aspx?companyid=$1&amp;key=$2&amp;type=$3" pse="-" acu="-">/packages/jh_(-?\d+)_(.*?)_(-?\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/package09.aspx?companyid=$1&amp;key=$2&amp;page=$3&amp;type=$4" pse="/packages/jh/$1/$2/page$3_$4.html" acu="/package09.aspx\?companyid\=(-?\d+)\&amp;key\=(.*?)&amp;page\=(\d+)\&amp;type\=(-?\d+)">/packages/jh/(-?\d+)/(.*?)/page(\d+)_(-?\d+)\.html</node>
	
	
	<!-- 开服 -->
	<node text="/Openservice.aspx" pse="-" acu="-">/service\.(aspx|html|shtm|shtml)</node>
	<node text="/Opentest.aspx" pse="-" acu="-">/test\.(aspx|html|shtm|shtml)</node>
	<node text="/Openservice02.aspx" pse="-" acu="-">/test/rl\.(aspx|html|shtm|shtml)</node>
	<!-- <node text="/Openservice01.aspx?key=" pse="-" acu="-">/Openservice01_(.*?).(aspx|html|shtm|shtml)</node> -->
	<node text="/Openservice01.aspx?key=$1" pse="-" acu="-">/service/search/(.*?)\.(aspx|html|shtm|shtml)</node>
	<node text="/Openservice03.aspx?key=$1" pse="-" acu="-">/test/search/(.*?)\.(aspx|html|shtm|shtml)</node>

	<!-- 查攻略 -->
	<node text="/Contribute.aspx" pse="-" acu="-">/skill\.(aspx|html|shtm|shtml)</node>
	<node text="/Contribute.aspx?page=$1" pse="/skill/page$1.html" acu="/Contribute.aspx\?page\=(\d+)">/skill/page(\d+)\.html</node>

	<node text="/Contribute01.aspx?id=$1" pse="-" acu="-">/skill_(\d+)\.(aspx|html|shtm|shtml)</node>

	<node text="/Contribute02.aspx?key=$1&amp;page=$2" pse="/skill/search/$1/page$2.html" acu="/Contribute02.aspx\?key\=(.*?)\&amp;page\=(\d+)">/skill/search/(.*?)/page(\d+)\.html</node>

	<node text="/Contribute02.aspx?key=$1" pse="-" acu="-">/skill/search/(.*?)\.(aspx|html|shtm|shtml)</node>
	
	<!-- 福利 -->
	<node text="/Amoywel.aspx" pse="-" acu="-">/Amoywel\.(aspx|html|shtm|shtml)</node>
	<node text="/Amoywel01.aspx" pse="-" acu="-">/Amoywel/demo\.(aspx|html|shtm|shtml)</node>
	<node text="/Amoywel01.aspx?page=$1" pse="/Amoywel/demo/page$1.html" acu="/Amoywel01.aspx\?page\=(\d+)">/Amoywel/demo/page(\d+)\.html</node>
	<node text="/Amoywel01.aspx?key=$1" pse="-" acu="-">/Amoywel/search/(.*?)\.(aspx|html|shtm|shtml)</node>
	<node text="/Amoywel01.aspx?key=$1&amp;page=$2" pse="/Amoywel/search/$1/page$2.html" acu="/Amoywel01.aspx\?key\=(.*?)\&amp;page\=(\d+)">/Amoywel/search/(.*?)/page(\d+)\.html</node>
	
	<node text="/Amoywel02.aspx" pse="-" acu="-">/Amoywel/cz\.(aspx|html|shtm|shtml)</node>
	<node text="/Amoywel03.aspx" pse="-" acu="-">/Amoywel/tg\.(aspx|html|shtm|shtml)</node>
	<node text="/Amoywel04.aspx?id=$1" pse="-" acu="-">/Amoywel/demo/detail_(\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/Amoywel05.aspx" pse="-" acu="-">/Amoywel/gifts\.(aspx|html|shtm|shtml)</node>
	<node text="/Amoywel06.aspx?id=$1" pse="-" acu="-">/Amoywel/gifts_(\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/Amoywel07.aspx?gameid=$1&amp;color=$2&amp;sum=$3" pse="-" acu="-">/Amoywel/gifts/order_(\d+)_(.*?)_(\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/Amoywel08.aspx?id=$1" pse="-" acu="-">/Amoywel/gifts/order/detail_(\d+)\.(aspx|html|shtm|shtml)</node>

	<!-- 首页 -->
	<node text="/index01.aspx?page=$1" pse="/cs/page$1.html" acu="/index01.aspx\?page\=(\d+)">/cs/page(\d+)\.html</node>

	<node text="/index01.aspx?key=$1&amp;page=$2" pse="/cs/$1/page$2.html" acu="/index01.aspx\?key\=(.*?)\&amp;page\=(\d+)">/cs/(.*?)/page(\d+)\.html</node>
	<node text="/index01.aspx?key=$1" pse="-" acu="-">/cs_(.*?)\.(aspx|html|shtm|shtml)</node>
	<node text="/index01.aspx?py=$1" pse="-" acu="-">/cs/(.*?)\.(aspx|html|shtm|shtml)</node>
	
	

	<node text="/index01.aspx" pse="-" acu="-">/cs\.(aspx|html|shtm|shtml)</node>
	<node text="/index02.aspx?id=$1&amp;page=$2" pse="/csdq/detail/$1/page$2.html" acu="/index02.aspx\?id\=(\d+)\&amp;page\=(\d+)">/csdq/detail/(\d+)/page(\d+)\.html</node>
	<node text="/index02.aspx?id=$1" pse="-" acu="-">/csdq/detail_(\d+)\.(aspx|html|shtm|shtml)</node>
	
	<node text="/index03.aspx?id=$1" pse="-" acu="-">/mntk_(.*?)\.(aspx|html|shtm|shtml)</node>
	<node text="/index03.aspx" pse="-" acu="-">/mntk\.(aspx|html|shtm|shtml)</node>
	<node text="/index04.aspx?id=$1" pse="-" acu="-">/mntk/detail_(\d+)\.(aspx|html|shtm|shtml)</node>

	<node text="/index07.aspx?id=$1&amp;page=$2" pse="/index07/$1/page$2.html" acu="/index07.aspx\?id\=(\d+)\&amp;page\=(\d+)">/index07/(\d+)/page(\d+)\.html</node>
	<node text="/index07.aspx?id=$1" pse="-" acu="-">/index07_(\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/index07.aspx" pse="-" acu="-">/index07\.(aspx|html|shtm|shtml)</node>
	<node text="/index08.aspx?id=$1&amp;page=$2" pse="/index08/$1/page$2.html" acu="/index08.aspx\?id\=(\d+)\&amp;page\=(\d+)">/index08/(\d+)/page(\d+)\.html</node>
	<node text="/index08.aspx?id=$1" pse="-" acu="-">/index08_(\d+)\.(aspx|html|shtm|shtml)</node>
	<node text="/index08.aspx" pse="-" acu="-">/index08\.(aspx|html|shtm|shtml)</node>
	
	<!-- 底部页面 -->
	<!-- <node text="/About.aspx" pse="-" acu="-">/About.(aspx|html|shtm|shtml)</node> -->
	<node text="/Contact.aspx" pse="-" acu="-">/Contact\.(aspx|html|shtm|shtml)</node>
	<node text="/Sitemap.aspx" pse="-" acu="-">/Sitemap\.(aspx|html|shtm|shtml)</node>
	<node text="/Feedback.aspx" pse="-" acu="-">/Feedback\.(aspx|html|shtm|shtml)</node>
	<node text="/404.aspx" pse="-" acu="-">/404\.(aspx|html|shtm|shtml)</node>
	
	<!-- 开服seo -->
	<node text="/seo/Openservice.aspx" pse="-" acu="-">/seo/service\.(aspx|html|shtm|shtml)</node>

    
    <!--2017年5月18日17:49:11新增-->
    	<node text="/zhpwd01.aspx" pse="-" acu="-">/zhpwd01\.(html|shtm|shtml)</node>
    
  </urlrewriter>
</region>