<?xml version="1.0" encoding="utf-8"?>
<region>
  <添加新闻>
    <sql><![CDATA[if @type=0 or @type=3
insert into news (companyid,title,key1,key2,type,state,memo,msg,img) values (@companyid,@title,@key1,@key2,@type,@state,@memo,@msg,dbo.getImg(@msg))
else
insert into news (companyid,title,key1,key2,type,state,memo,msg,img)
  select @companyid,@title,@key1,@key2,@type,@state,@memo,@msg,dbo.getImg(@msg) from game where name=@key1]]></sql>
  </添加新闻>
  <修改新闻>
    <sql><![CDATA[if @type=0 or @type=3
update news set title=@title,key1=@key1,key2=@key2,type=@type,memo=@memo,msg=@msg,img=dbo.getImg(@msg),state=2,intime=getdate()
where companyid=@companyid and id=@id 
else
begin
  if exists(select 1 from game where name=@key1)
    update news set title=@title,key1=@key1,key2=@key2,type=@type,memo=@memo,msg=@msg,img=dbo.getImg(@msg),state=2,intime=getdate()
      where companyid=@companyid and id=@id 
end]]></sql>
  </修改新闻>
  <获取我的新闻>
    <sql><![CDATA[select * from news where id=@id and companyid=@companyid]]></sql>
  </获取我的新闻>
  <前台我的新闻列表>
    <sql><![CDATA[select id,title,key1,key2,state,intime,type
!from news
where companyid=@id]]></sql>
    <and><![CDATA[and title like '%'+@key+'%']]></and>
    <and><![CDATA[and intime>=@startday]]></and>
    <and><![CDATA[and intime<=@endday+' 23:59:59']]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </前台我的新闻列表>
  <删除自己的新闻>
    <sql><![CDATA[delete news where id=@id and companyid=@companyid and state!=1]]></sql>
  </删除自己的新闻>
  <后台列表新闻>
    <sql><![CDATA[select p.id,c.companyname,p.title,p.key1,p.intime,p.state,p.type,p.rec,p.rec_hot,c.systemname,title1
!from news p inner join company c on p.companyId=c.id
where 1=1]]></sql>
    <and><![CDATA[and p.type=@type]]></and>
    <and><![CDATA[and p.title like '%'+@key1+'%']]></and>
    <and><![CDATA[and c.systemname like '%'+@key2+'%']]></and>
    <and><![CDATA[and p.state=@state]]></and>
    <and><![CDATA[and p.rec=@rec]]></and>
    <and><![CDATA[and p.rec_hot=@rec_hot]]></and>
    <orderby><![CDATA[p.intime desc]]></orderby>
  </后台列表新闻>
  <删除新闻>
    <sql><![CDATA[delete news where id=@id]]></sql>
  </删除新闻>
  <审核新闻>
    <sql><![CDATA[if @state=0 --未通过
 insert into auditlog (companyid,title,type,tableid,reason)
   select companyid,concat(key1,' ',title,' 新闻，未通过审核，原因：'),2,id,@reason from news where id=@id and state=2
update news set state=@state where id=@id and state=2]]></sql>
  </审核新闻>
  <后台推送新闻到版块>
    <sql><![CDATA[update news set rec=case rec when 1 then 0 when 0 then 1 end,rec_time=getdate()
output inserted.rec
where id=@id]]></sql>
  </后台推送新闻到版块>
  <后台推送新闻到首页>
    <sql><![CDATA[update news set rec_hot=case rec_hot when 1 then 0 when 0 then 1 end,rec_hot_time=getdate()
output inserted.rec_hot
where id=@id]]></sql>
  </后台推送新闻到首页>
  <后台列表八卦新闻>
    <sql><![CDATA[select id,title,intime,rec,rec_time
!from news where type=0]]></sql>
    <and><![CDATA[and title like '%'+@key+'%']]></and>
    <and><![CDATA[and rec=@rec]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </后台列表八卦新闻>
  <后台获取新闻>
    <sql><![CDATA[select * from news where id=@id]]></sql>
  </后台获取新闻>
  <后台修改新闻>
    <sql><![CDATA[update news set title=@title,title1=@title1, msg=@msg,img=dbo.getimg(@msg),type=@type,key1=@key1,key2=@key2,memo=@memo where id=@id ]]></sql>
  </后台修改新闻>
  <后台添加新闻>
    <sql><![CDATA[insert into news (companyid,title,title1,key1,key2,memo,msg,type,img) values (@companyid,@title,@title1,@key1,@key2,@memo,@msg,@type,dbo.getimg(@msg))]]></sql>
  </后台添加新闻>
</region>