<?xml version="1.0" encoding="utf-8"?>
<region>
  <发布礼包>
    <sql><![CDATA[declare ~tb table(id int)
if exists(select 1 from game where name=@gamename)
begin
  insert into package (companyId,gamename,servername,type,name,startdate,enddate,url,msg,memo,state)
  output inserted.id into ~tb
  values (@companyId,@gamename,@servername,@type,@name,@startdate,@enddate,@url,@msg,@memo,case @type when 3 then 2 else 3 end)
  /*0-未通过; 1-通过; 2-待审核; 3-无需审核*/
  insert into PackageCard (packageId,code)
    select id,code from dbo.split_string(@code,CHAR(10)) OUTER APPLY ~tb
end]]></sql>
  </发布礼包>
  <后台列表礼包>
    <sql><![CDATA[select p.id,c.companyname,p.servername,p.gamename,p.name,p.startdate,p.enddate,p.msg,p.intime,p.state,p.type,c.systemname,p.companyid
!from package p inner join company c on p.companyId=c.id
where 1=1]]></sql>
    <and><![CDATA[and p.type=@type]]></and>
    <and><![CDATA[and p.name like '%'+@key+'%']]></and>
    <and><![CDATA[and p.state=@state]]></and>
    <orderby><![CDATA[p.intime desc]]></orderby>
  </后台列表礼包>
  <后台推荐礼包列表>
    <sql><![CDATA[select p.id,c.systemname,c.companyname,p.servername,p.gamename,p.name,p.startdate,p.enddate,p.msg,p.intime,p.type,p.rec,p.rec_hot,p.rec_index
!from package p inner join company c on p.companyId=c.id
where (p.state=1 or p.state=3)]]></sql>
    <and><![CDATA[and p.type=@type]]></and>
    <and><![CDATA[and (p.name like '%'+@key+'%' or p.gamename like '%'+@key+'%')]]></and>
    <and><![CDATA[and p.rec=@rec]]></and>
    <and><![CDATA[and p.rec_hot=@rec_hot]]></and>
    <and><![CDATA[and p.rec_index=@rec_index]]></and>
    <orderby><![CDATA[p.intime desc]]></orderby>
  </后台推荐礼包列表>
  <审核礼包>
    <sql><![CDATA[if @state=0 --未通过
 insert into auditlog (companyid,title,type,tableid,reason)
   select companyid,concat(gamename,' ',name,' 礼包，未通过审核，原因：'),1,id,@reason from package where id=@id and state=2
update package set state=@state where id=@id and state=2]]></sql>
  </审核礼包>
  <删除礼包>
    <sql><![CDATA[delete package where id=@id
delete packagecard where packageid=@id]]></sql>
  </删除礼包>
  <前台我的礼包列表>
    <sql><![CDATA[select p.id,c.companyname,p.servername,p.gamename,p.name,p.startdate,p.enddate,p.msg,p.intime,p.state,p.type
!from package p inner join company c on p.companyId=c.id
where p.companyid=@id]]></sql>
    <and><![CDATA[and p.gamename like '%'+@key+'%']]></and>
    <and><![CDATA[and startdate>=@startday]]></and>
    <and><![CDATA[and enddate<=@endday+' 23:59:59']]></and>
    <orderby><![CDATA[p.intime desc]]></orderby>
  </前台我的礼包列表>
  <删除自己的礼包>
    <sql><![CDATA[delete packagecard from package p inner join packagecard pc on p.id=pc.packageid where p.id=@id and p.companyid=@companyid
delete package where id=@id and companyid=@companyid]]></sql>
  </删除自己的礼包>
  <获取我的礼包>
    <sql><![CDATA[select *,(select dbo.stringjoin(code) from PackageCard where packageId=Package.id) as codes from Package
where id=@id and companyid=@companyid]]></sql>
  </获取我的礼包>
  <修改礼包>
    <sql><![CDATA[if exists(select 1 from game where name=@gamename)
update package set gamename=@gamename,servername=@servername,name=@name,url=@url,msg=@msg,memo=@memo,state=case type when 3 then 2 else state end
where id=@id and companyid=@companyid]]></sql>
  </修改礼包>
  <获取我的礼包历史游戏名称>
    <sql><![CDATA[select gamename  from  Package
where companyid=@companyid group by gamename  order by max(intime) desc]]></sql>
  </获取我的礼包历史游戏名称>
  <根据游戏名称与开服时间选择合适的礼包>
    <sql><![CDATA[select id,gamename,startdate,enddate,servername,type,name from Package 
where companyid=@companyid and gamename=@gamename and startdate<=@startday and enddate>=@startday and state in (1,3)]]></sql>
  </根据游戏名称与开服时间选择合适的礼包>
  <普通推荐>
    <sql><![CDATA[update package set rec=case rec when 1 then 0 when 0 then 1 end,rec_time=getdate()
output inserted.rec
where id=@id]]></sql>
  </普通推荐>
  <热门推荐>
    <sql><![CDATA[update package set rec_hot=case rec_hot when 1 then 0 when 0 then 1 end,rec_hot_time=getdate()
output inserted.rec_hot
where id=@id]]></sql>
  </热门推荐>
  <首页推荐>
    <sql><![CDATA[update package set rec_index=case rec_index when 1 then 0 when 0 then 1 end,rec_index_time=getdate()
output inserted.rec_index
where id=@id]]></sql>
  </首页推荐>
  <后台修改礼包>
    <sql><![CDATA[if exists(select 1 from game where name=@gamename)
update package set gamename=@gamename,servername=@servername,name=@name,type=@type,
url=@url,msg=@msg,memo=@memo,state=case @type when 3 then 2 else 3 end
where id=@id and companyid=@companyid]]></sql>
  </后台修改礼包>
</region>