<?xml version="1.0" encoding="utf-8"?>
<region>
  <前台我的开服列表>
    <sql><![CDATA[select s.id,s.servername,s.gamename,s.starttime,s.rec_hot,s.state,p.name as packagename
!from [Servers] s left join package p on s.packageid=p.id
where s.companyid=@id]]></sql>
    <and><![CDATA[and s.gamename like '%'+@key+'%']]></and>
    <and><![CDATA[and s.starttime>=@startday]]></and>
    <and><![CDATA[and s.starttime<=@endday+' 23:59:59']]></and>
    <orderby><![CDATA[s.intime desc]]></orderby>
  </前台我的开服列表>
  <删除自己的开服>
    <sql><![CDATA[delete [Servers] where id=@id and companyid=@companyid]]></sql>
  </删除自己的开服>
  <获取我的开服>
    <sql><![CDATA[select s.*,
p.startdate,p.enddate,p.servername as packageservername,p.type,p.name as packagename
from [Servers] s left join Package p on s.packageid=p.id
where s.id=@id and s.companyid=@companyid]]></sql>
  </获取我的开服>
  <修改开服>
    <sql><![CDATA[if exists(select 1 from game where name=@gamename)
update [servers] set gamename=@gamename,starttime=@starttime,servername=@servername,
url=@url,packageid=@packageid,state=2
where id=@id and companyid=@companyid ]]></sql>
  </修改开服>
  <后台列表开服>
    <sql><![CDATA[select s.id,c.systemname,c.companyname,s.gamename,s.servername,p.name as packagename,p.type as package_type,s.starttime,s.rec_hot,s.intime,s.state,s.url
!from [Servers] s inner join company c on s.companyid=c.id
left join package p on s.packageid=p.id
where 1=1]]></sql>
    <and><![CDATA[ and s.rec_hot=@type]]></and>
    <and><![CDATA[ and (c.systemname like '%'+@key+'%' or s.gamename like '%'+@key+'%')]]></and>
    <and><![CDATA[ and s.state=@state]]></and>
    <and><![CDATA[and s.starttime>@startday]]></and>
    <and><![CDATA[and s.starttime<=@endday+' 23:59:59']]></and>
    <orderby><![CDATA[s.intime desc]]></orderby>
  </后台列表开服>
  <删除开服>
    <sql><![CDATA[delete [servers] where id=@id]]></sql>
  </删除开服>
  <修改套餐剩余条数>
    <sql>
      <![CDATA[if exists(select 1 from Recharge r inner join RechargeUsed  ru on r.id = ru.rechargeid  where ru.serverid = @id) 
update [Recharge] set used = used - 1 
where id  = (select rechargeid from  RechargeUsed where serverid = @id) ]]>
    </sql>
  </修改套餐剩余条数>
  <审核开服>
    <sql><![CDATA[if @state=0 --未通过
 insert into auditlog (companyid,title,type,tableid,reason)
   select companyid,concat(gamename,' ',format(intime,'yyyy-MM-dd HH:mm'),' 双线',servername,'服，开服，未通过审核，原因：'),0,id,@reason from [servers] where id=@id and state=2
update [servers] set state=@state where id=@id and state=2
]]></sql>
  </审核开服>
  <获取我的开服历史游戏名称>
    <sql><![CDATA[select gamename  from  [Servers]
where companyid=@companyid group by gamename  order by max(intime) desc]]></sql>
  </获取我的开服历史游戏名称>
  <批量审核开服>
    <sql><![CDATA[if @state=0 --未通过
 insert into auditlog (companyid,title,type,tableid,reason)
   select companyid,concat(gamename,' ',format(intime,'yyyy-MM-dd HH:mm'),' 双线',servername,'服，开服，未通过审核，原因：'),0,s.id,@reason from [servers] s inner join dbo.Split_Id(@ids,',') tb on s.id=tb.id where state=2
update [servers] set state=@state from [servers] s inner join dbo.Split_Id(@ids,',') tb on s.id=tb.id where state=2]]></sql>
  </批量审核开服>
</region>