<?xml version="1.0" encoding="utf-8"?>
<region>
  <TDK列表>
    <sql><![CDATA[select id,name,type !from tdk where 1=1]]></sql>
    <and><![CDATA[and name like @key+'%']]></and>
    <and><![CDATA[and type=@type]]></and>
    <orderby><![CDATA[id desc]]></orderby>
  </TDK列表>
  <删除TDK>
    <sql><![CDATA[delete tdk where id=@id]]></sql>
  </删除TDK>
  <获取TDK>
    <sql><![CDATA[select * from tdk where id=@id]]></sql>
  </获取TDK>
  <添加TDK>
    <sql><![CDATA[insert into tdk (name,type) values (@name,@type)]]></sql>
  </添加TDK>
  <修改TDK>
    <sql><![CDATA[update tdk set @name=@name,type=@type where id=@id]]></sql>
  </修改TDK>
</region>