<?xml version="1.0" encoding="utf-8"?>
<region>
  <添加开测>
    <sql><![CDATA[insert into tests (gamename,starttime,state,url,package)
values (@gamename,@starttime,@state,@url,@package)]]></sql>
  </添加开测>
  <修改开测>
    <sql><![CDATA[update tests set gamename=@gamename,starttime=@starttime,state=@state,url=@url,package=@package
where id=@id]]></sql>
  </修改开测>
  <删除开测>
    <sql><![CDATA[delete tests where id=@id]]></sql>
  </删除开测>
  <后台列表开测>
    <sql><![CDATA[select * !from tests where 1=1]]></sql>
    <and><![CDATA[and gamename like '%'+@key+'%']]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </后台列表开测>
  <获取开测表信息>
    <sql><![CDATA[select * from tests where id=@id]]></sql>
  </获取开测表信息>
</region>