<?xml version="1.0" encoding="utf-8"?>
<region>
  <检查用户名>
    <sql><![CDATA[select 1 from users where uname=@uname
union
select 1 from company where uname=@uname]]></sql>
  </检查用户名>
  <检查手机号>
    <sql><![CDATA[select 1 from users where mobile=@mobile]]></sql>
  </检查手机号>
  <发送验证码>
    <sql><![CDATA[if exists(select 1 from vcode where mobile=@mobile)
update vcode set code=@code,intime=getdate() where mobile=@mobile
else
insert into vcode (mobile,code) values (@mobile,@code)]]></sql>
  </发送验证码>
  <个人登录>
    <sql><![CDATA[select *
from users where uname=@uname or mobile=@uname]]></sql>
  </个人登录>
  <修改QQ>
    <sql><![CDATA[update users set qq=@qq 
where id=@userid]]></sql>
  </修改QQ>
  <修改微信>
    <sql><![CDATA[update users set wx=@wx
where id=@userid]]></sql>
  </修改微信>
  <修改邮箱>
    <sql><![CDATA[update users set email=@email
where id=@userid]]></sql>
  </修改邮箱>
  <修改生日>
    <sql><![CDATA[update users set birthday=@birthday
where id=@userid]]></sql>
  </修改生日>
  <修改联系人>
    <sql><![CDATA[update users set c_name=@c_name,c_tel=@c_tel
where id=@userid]]></sql>
  </修改联系人>
  <修改密码>
    <sql><![CDATA[update users set pass=@newpass where id=@id]]></sql>
  </修改密码>
  <修改手机号>
    <sql><![CDATA[if not exists(select 1 from users where mobile=@mobile and id!=@id) and
not exists(select 1 from company where mobile=@mobile)
update users set mobile=@mobile where id=@id]]></sql>
  </修改手机号>
  <我的消息列表>
    <sql><![CDATA[select id,state,title,msg,intime 
!from usermessage
where userid=@userid and isdel=0]]></sql>
    <orderby><![CDATA[intime desc]]></orderby>
  </我的消息列表>
  <更新消息状态>
    <sql><![CDATA[update usermessage set state=1
where userid=@userid and id in (select id from dbo.Split_id(@ids,','))]]></sql>
  </更新消息状态>
  <删除我的消息>
    <sql><![CDATA[update usermessage set isdel=1
where userid=@userid and id in (select id from dbo.Split_id(@ids,','))]]></sql>
  </删除我的消息>
  <投稿>
    <sql><![CDATA[insert into UserRaiders (userid,gamename,title,msg,[key])
values (@userid,@gamename,@title,@msg,@key)]]></sql>
  </投稿>
  <获取我的投稿内容>
    <sql><![CDATA[select * from UserRaiders where id=@id and userid=@userid]]></sql>
  </获取我的投稿内容>
  <验证码与手机号是否匹配>
    <sql><![CDATA[select 1from vcode where mobile=@mobile and code=@code and DATEDIFF(MINUTE,intime,getdate())<300]]></sql>
  </验证码与手机号是否匹配>
  <我的投稿列表>
    <sql><![CDATA[select id,title,gamename,intime,state,rec_hot,reason,[key] !from UserRaiders where userid=@userid]]></sql>
    <orderby><![CDATA[intime desc]]></orderby>
  </我的投稿列表>
  <删除我的投稿>
    <sql><![CDATA[delete UserRaiders where id=@id and userid=@userid and (state=0 or state=2)]]></sql>
  </删除我的投稿>
  <修改我的投稿内容>
    <sql><![CDATA[update UserRaiders set title=@title,gamename=@gamename,msg=@msg,[key]=@key,state=2,intime=getdate()
where id=@id and userid=@uesrid and (state=0 or state=2)]]></sql>
  </修改我的投稿内容>
  <个人用户列表>
    <sql><![CDATA[select *,(select sum(pay) from usermessage where userid=users.id) as pay !from users
where 1=1]]></sql>
    <and><![CDATA[and (uname like '%'+@key+'%' or mobile like '%'+@key+'%')]]></and>
    <and><![CDATA[and state=@state]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </个人用户列表>
  <审核个人用户>
    <sql><![CDATA[update users set state=case state when 0 then 1 when 1 then 0 else 0 end where id=@id]]></sql>
  </审核个人用户>
  <最新消息>
    <sql><![CDATA[select top(@top) id,state,title,msg,intime 
from usermessage
where isdel=0 and userid=@userid
order by intime desc]]></sql>
  </最新消息>
  <后台攻略列表>
    <sql><![CDATA[select ur.id,uname,gamename,title,ur.state,rec_hot,rec,ur.intime,title1
!from UserRaiders ur inner join users u on u.id=ur.userid
where u.state=1]]></sql>
    <and><![CDATA[and (uname like '%'+@key+'%' or gamename like '%'+@key+'%' or title like '%'+@key+'%')]]></and>
    <and><![CDATA[and ur.state=@state]]></and>
    <and><![CDATA[and rec=@rec]]></and>
    <and><![CDATA[and rec_hot=@rec_hot]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </后台攻略列表>
  <后台删除攻略>
    <sql><![CDATA[delete UserRaiders where id=@id]]></sql>
  </后台删除攻略>
  <后台推送攻略到首页>
    <sql><![CDATA[declare ~rec_hot int,~userid int,~title varchar(500)
select ~rec_hot=rec_hot,~userid=userid,~title=title from UserRaiders where id=@id and state=1
if ~rec_hot is not null
begin
    if ~rec_hot=0
    begin
    update UserRaiders set rec_hot=1,rec_hot_time=getdate() where id=@id
    insert into usermessage (userid,title,msg,state,paytype,pay)
      values (~userid,concat('攻略投稿—推送到首页《',~title,'》'),concat('亲爱的爽赞会员恭喜您，您投稿的攻略《',~title,'》非常优秀，已经被推送到首页啦，特此奖励10爽币。希望您在之后的日子里面，多多投稿，帮助更多的玩家朋友哦。'),0/*消息未读*/,1/*赚爽币记录*/,10/*加分值*/)
    end
    else
    begin
        update UserRaiders set rec_hot=0,rec_hot_time=getdate() where id=@id
        insert into usermessage (userid,title,msg,state,paytype,pay)
          values (~userid,concat('攻略投稿—取消推送到首页《',~title,'》'),concat('亲爱的爽赞会员您好，由于“”的原因，您的攻略《',~title,'》已经被取消推送到首页。如有什么疑问可直接联系在线客服哦。'),0/*消息未读*/,1/*赚爽币记录*/,-10/*加分值*/)
    end
end]]></sql>
  </后台推送攻略到首页>
  <审核攻略>
    <sql><![CDATA[declare ~userid int,~title varchar(500)
select ~userid=userid,~title=title from UserRaiders where id=@id and state=2
if ~userid is not null
begin
    if @state=1
    begin
    update UserRaiders set state=1 where id=@id
    insert into usermessage (userid,title,msg,state,paytype,pay)
      values (~userid,concat('攻略投稿—通过审核《',~title,'》'),concat('亲爱的爽赞会员恭喜您，你投递的攻略《',~title,'》已审核通过啦，特此奖励10爽币。希望您在之后的日子里面，多多投稿，帮助到更多的玩家朋友哦'),0/*消息未读*/,1/*赚爽币记录*/,10/*加分值*/)
    end
    else if @state=0
    begin
        update UserRaiders set state=0,reason=@reason where id=@id
        insert into usermessage (userid,title,msg,state,paytype,pay)
          values (~userid,concat('攻略投稿—未通过审核《',~title,'》'),concat('亲爱的爽赞会员您好，非常抱歉，您投递的攻略《',~title,'》因“',@reason,'”的原因未通过审核，希望您针对我们提出的意见做一些修改之后再次提交。如有什么疑问，可直接联系在线客服哦。'),0/*消息未读*/,1/*赚爽币记录*/,0/*加分值*/)
    end
end]]></sql>
  </审核攻略>
  <我的爽币记录>
    <sql><![CDATA[select id,intime,pay,title,msg,memo,memo1,memo2,(select sum(pay) from usermessage where userid=@userid and paytype=@paytype) as pays
!from usermessage
where userid=@userid and paytype=@paytype and pay!=0]]></sql>
    <orderby><![CDATA[intime desc]]></orderby>
  </我的爽币记录>
  <按月签到信息>
    <sql><![CDATA[select dbo.StringJoin(format(intime,'yyyy-MM-dd')) from usersigndetail 
where userid=@userid and intime>=format(cast(@day as date),'yyyy-M-1') and intime<=format(dateadd(M,1,cast(@day as date)),'yyyy-M-1')]]></sql>
  </按月签到信息>
  <后台获取攻略内容>
    <sql><![CDATA[select * from UserRaiders where id=@id]]></sql>
  </后台获取攻略内容>
  <后台修改投稿内容>
    <sql><![CDATA[update UserRaiders set title=@title, title1=@title1, msg=@msg,gamename=@gamename,[key]=@key
where id=@id]]></sql>
  </后台修改投稿内容>
  <后台推送攻略到频道>
    <sql><![CDATA[update UserRaiders set rec=case rec when 0 then 1 when 1 then 0 end,rec_time=getdate() where id=@id]]></sql>
  </后台推送攻略到频道>
  <我的礼包箱>
    <sql><![CDATA[select gamename,name,code,startdate,enddate,datediff(d,getdate(),enddate) as xday,pc.intime,url 
!from package p inner join PackageCard pc on p.id=packageid
where pc.userid=@userid and p.type=@type]]></sql>                                                                                                                                                 
    <orderby><![CDATA[pc.intime desc]]></orderby>
  </我的礼包箱>
  <写入充值记录>
    <sql><![CDATA[if not exists(select 1 from UserMessage where userid=@userid and trade_no=@trade_no)
insert into UserMessage (userid,title,msg,paytype,pay,memo1,memo2,trade_no)
values (@userid,'爽币充值—'+@sb+'爽币充值成功','亲爱的爽赞会员恭喜您，您充值的'+@sb+'爽币已经到账啦！赶紧去“淘福利”版块看看吧~',
2/*充值方式*/,@sb,@rmb,@feetype,@trade_no)]]></sql>
  </写入充值记录>
  <查询订单是否支付成功>
    <sql><![CDATA[select 1 from UserMessage where userid=@userid and trade_no=@trade_no]]></sql>
  </查询订单是否支付成功>
  <添加收货地址>
    <sql><![CDATA[declare ~cou int
select ~cou=count(1) from useraddress where userid=@userid
if ~cou<3
begin
if @isdefault=1
  update useraddress set isdefault=0 where userid=@userid
insert into useraddress (userid,name,address,phone,isdefault) values (@userid,@name,@address,@phone,@isdefault)
end]]></sql>
  </添加收货地址>
  <修改收货地址>
    <sql><![CDATA[update useraddress set name=@name,address=@address,phone=@phone,isdefault=@isdefault
where id=@id and userid=@userid]]></sql>
  </修改收货地址>
  <删除收货地址>
    <sql><![CDATA[delete useraddress where id=@id and userid=@userid]]></sql>
  </删除收货地址>
  <设为默认收货地址>
    <sql><![CDATA[update useraddress set isdefault=0 where userid=@userid
update useraddress set isdefault=1 where id=@id and userid=@userid]]></sql>
  </设为默认收货地址>
  <修改头像>
    <sql><![CDATA[update users set head=@head
where id=@userid]]></sql>
  </修改头像>
  <我的礼品列表>
    <sql><![CDATA[select id,intime,logo,name,color,price,num,state 
!from [order] where userid=@userid and isdel=0]]></sql>
    <and><![CDATA[and state=@state]]></and>
    <orderby><![CDATA[intime desc]]></orderby>
  </我的礼品列表>
  <删除订单>
    <sql><![CDATA[update [order] set isdel=1 where userid=@userid and isdel=0
and id in (select id from dbo.split_id(@ids,','))]]></sql>
  </删除订单>
  <确认收货>
    <sql><![CDATA[update [order] set state=2,receivetime=getdate() where userid=@userid and state=1 and id=@id]]></sql>
  </确认收货>
  <我的收货地址>
    <sql><![CDATA[select id,name,address,phone,isdefault from UserAddress where userid=@userid]]></sql>
  </我的收货地址>
  <后台订单列表>
    <sql><![CDATA[select o.id,u.uname as username,o.name,color,price,num,address_name,address_phone,address_address,o.state,
ordertype,ordernum
!from [order] o inner join users u on o.userid=u.id
where 1=1]]></sql>
    <and><![CDATA[and (u.uname like '%'+@key+'%' or o.name like '%'+@key+'%')]]></and>
    <and><![CDATA[and o.state=@state]]></and>
    <orderby><![CDATA[o.intime desc]]></orderby>
  </后台订单列表>
  <后台订单发货>
    <sql><![CDATA[update [order] set state=1,ordertype=@ordertype,ordernum=@ordernum,sendtime=getdate() where id=@id and state=0]]></sql>
  </后台订单发货>
  <我的订单详情>
    <sql><![CDATA[select name,state,intime,sendtime,receivetime,address_name,address_address,address_phone,ordertype,ordernum,logo,color,price,num
from [order] where id=@id]]></sql>
  </我的订单详情>
  <我的试玩列表>
    <sql><![CDATA[select da.demoid,du.accountid,
d.gamename,da.systemname,da.uname,da.pass,da.url, 
(select count(1) from demouser where demoid=da.demoid and accountid=du.accountid and userid=@userid),
(select count(1) from demouser where demoid=da.demoid and accountid=du.accountid and userid=@userid and state=1),
(select sum(cast(p2 as int)) from DemoRequires where demoid=d.id)
!from (select distinct accountid from DemoUser where userid=@userid) du
inner join DemoAccounts da on du.accountid=da.id
inner join demo d on d.id=da.demoid]]></sql>
    <orderby><![CDATA[d.intime desc]]></orderby>
  </我的试玩列表>
  <个人充值记录列表>
    <sql><![CDATA[select um.intime,uname,pay,memo1,memo2,trade_no !from UserMessage um inner join users u on um.userid=u.id 
where paytype=2]]></sql>
    <and><![CDATA[and uname like '%'+@key+'%']]></and>
    <and><![CDATA[and um.intime>@starttime]]></and>
    <and><![CDATA[and um.intime<=@endtime+' 23:59:59']]></and>
    <and><![CDATA[and memo2=@paytype]]></and>
    <orderby><![CDATA[um.intime desc]]></orderby>
  </个人充值记录列表>
  <获取我的爽币总额>
    <sql><![CDATA[select sum(pay) from usermessage where userid=@userid]]></sql>
  </获取我的爽币总额>
  <邀请注册用户列表>
    <sql><![CDATA[select b.uname,a.intime,a.uname as tuname,a.tj 
!from users a inner join users b on a.tjid=b.id and a.tjid>0
where 1=1]]></sql>
    <and><![CDATA[and b.uname like '%'+@key+'%']]></and>
    <and><![CDATA[and a.intime>@start]]></and>
    <and><![CDATA[and a.intime<@end + ' 23:59:59']]></and>
    <orderby><![CDATA[a.intime desc]]></orderby>
  </邀请注册用户列表>
</region>